/*PADROES*/
img {border:none;}

/* IDs */
#youtube h2{font-size:14px;}
#youtube-videos{font-family: verdana; font-size: 12px; width: 500px;}		
#footer{font-size: 14px;}
#footer a{text-decoration:none; color: #000;}
#footer a:hover{text-decoration:underline;}

/* Classes */
.loading{width:300px;margin:20px 10px;}
.loading img{vertical-align:middle;margin-right:6px;}
